---
layout: default
---

<h1>
  {{ page.title }}
</h1>
{% if page.image %}
  <img src="{{ site.url }}/assets/img/{{ page.image }}">
  {% if page.photographer_link and page.photographer %}
  <figcaption>Photo by <a href="{{ page.photographer_link }}">{{ page.photographer }}</a> at <a href="https://unsplash.com">Unsplash</a></figcaption>
  {% endif %}
{% endif %}
<article>
  {{ content }}
</article>
{% if site.hide_post_date != true %}
  {% include post-date.html %}
{% endif %}
{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}
{% if site.hide_related_posts != true %}
  {% include related-posts.html %}
{% endif %}
{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
